/* --- General Body & Header --- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lora', serif;
    line-height: 1.6;
    background-color: #f3e8de;
    overflow-x: hidden;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #f3e8de, #ffe6d0, #f3e8de, #ffd5b3);
    background-size: 400% 400%;
    animation: gradientShift 20s ease infinite;
}

header {
    position: relative;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


a {
    font-family: 'Lora', serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 190px;
    padding-top: 50px;
    text-align: left;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.h1_photo {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    top: 30px;
    right: 70px;
}

.logo img {
    height: 60px;
}
.h1_Art {
    text-align: center;
    font-size: 2rem;
    margin: 0px 0;
}

/* Carousel */
.carousel-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto 40px;
    text-align: center;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.art-date {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

#prev {
    left: -40px;
}

#next {
    right: -40px;
}

/* Contact */
.contact {
    text-align: center;
    margin-bottom: 20px;
}

.contact a {
    text-decoration: none;
    color: #000;
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media(max-width:768px) {
    .carousel-btn {
        font-size: 1.5rem;
        left: -20px;
        right: -20px;
    }

    .carousel-container {
        max-width: 90%;
    }
}